.nav{
    background-color: c00c4f;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.nav > a{
    background-color: fac52d;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    margin-right: 30px;
}

body{
    margin: 0px;
}

.logo{
    float: right;
}

.background_image{
    background-image: url("home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}